/***
Odin Recipes CSS
**/


html {
    margin: 0;
}


body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
}


h1 {
    color: whitesmoke;
    background: seagreen;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    padding: .6em;
    text-align: center;
}

a {
    color: firebrick;
}

a:visited {
    color: seagreen;
}
.recipe-list  {
    list-style-type:none;
    font-size: 1.45em;
    font-weight: 600;
}


.recipe-list li {
    display: inline-block;
    margin: 4px;
    padding: 8px 16px;
    background:  firebrick;
    color: whitesmoke;
    font-weight: 700;
}

.recipe-list a {
    color: whitesmoke;
    text-decoration: none;
    font-variant: small-caps;
}

figure {
    box-sizing: border-box;
    max-width: 48%;
    border: double firebrick 8px;
    display: block;
    padding: 8px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}



h2, h3, h4 {
    font-family: Verdana, sans-serif;
    font-weight: 800;
    color: firebrick;
}